---
import { site } from "../site"
import Layout from "../layouts/Layout.astro"


---
<Layout title={site.pages.index.title} desc={site.pages.index.description}>
<img class="folly-art w-full max-w-60 sm:max-w-80" src="/images/folly-art.png" alt="Folly Bridge Sketch" />
<p class="text-center">
    Folly is an Oxford student magazine publishing long-form creative work in literature, politics, and the arts. Read the first issue <a href="/magazine">here</a>.
  </p>
  </Layout>