---
import { site } from "../site"
import { featuredArticles, sortedArticles } from "../utils" 
import Card from "../components/Card.astro"
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"


---
<Layout title={site.pages.index.title} desc={site.pages.index.description}>
<img class="w-80" src="/images/folly-art.png" alt="Folly Art" />
<p class="text-center">FOLLY is an Oxford student publication focused on ambitious, long-form creative work in literature, politics, and the arts.</p>
</Layout>