---
import { site } from "../site"
const date = new Date().getFullYear()
---
<footer>
  </div>
    <p class="essens">website by <a target="_blank" href="https://essens.cc">essens</a> and <a target="_blank" href="https://malaikaaiyar.me">malaika</a></p>
</footer>
