---
import { site } from "../site"
---

<nav id="main-nav">
  <a href="/" class="nav-logo-link">
    <img src="/images/folly-logo-figma.png" alt="Folly Logo" class="nav-logo" />
  </a>
  <div class="nav-links">
    {
      site.navigation.map((l) => (
        <a href={l.url}>{l.title}</a>
      ))
    }
  </div>
</nav>

