---
import { site } from "../site"
import OptimizedImage from "./OptimizedImage.astro"
---

<nav id="main-nav">
  <a href="/" class="nav-logo-link">
    <OptimizedImage src="/images/folly-logo-figma.png" alt="Folly Logo" class="nav-logo" width={72} height={72} />
  </a>
  <div class="nav-links">
    {
      site.navigation.map((l) => (
        <a href={l.url}>{l.title}</a>
      ))
    }
  </div>
</nav>

