---
interface Props {
  title: string;
  description: string;
  date: string;
  href: string;
}

const { title, description, href, date } = Astro.props
---
<a href={href} class="podcast">
  <time class="podcast-date">{date}</time>
  <h2 class="podcast-title">{title}</h2>
  <p class="podcast-description">{description}</p>
</a>

